extends ../../layouts/default.pug
include ../..//mixins/box-head.pug
block main
  .container.my-4
    .row
        .col-12
            +boxHead("Danh sách sản phẩm")

    .row
      each product in newProducts
        .col-12.col-md-4.mb-4
          .card.h-100.product-card
            img.card-img-top(src=product.thumbnail, alt=product.title)
            .card-body
              h5.card-title.product-title #{product.title}
              p.card-text.product-description #{product.description}
              
              .price-container
                p.original-price Giá gốc: #{product.price.toLocaleString()} $
                p.discounted-price 
                  | Giá khuyến mãi: #{product.newPrice.toLocaleString()} $
                  span.discount-badge -#{product.discountPercentage}%
                p.price-savings 
                  | Tiết kiệm: #{product.savePrice} $
                  
            .card-footer.bg-white.border-0
              a.btn.btn-sm.btn-view-details.w-100(href="#") Xem chi tiết


